wsdl/flight.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Airlines"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://www.phkairways.com/wsdl/Airlines/2.2"
  xmlns:f="http://www.phkairways.com/xsd/services/Failure/1.0"
  xmlns:bp="http://www.phkairways.com/xsd/services/Airlines/2.2"
  targetNamespace="http://www.phkairways.com/wsdl/Airlines/2.2">
  
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.phkairways.com/xsd/services/Failure/1.0"
        schemaLocation="/tmp/samplews/01-wsdl2java/xsd/failure.xsd"/>
      <xsd:import namespace="http://www.phkairways.com/xsd/services/Airlines/2.2"
        schemaLocation="/tmp/samplews/01-wsdl2java/xsd/flight.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="FlightSearchRequestMessage">
    <wsdl:documentation>
      FlightSearchRequestMessage is the request to search for a specific flight and takes the input flight date, source airport and destination airport
    </wsdl:documentation>
    <wsdl:part name="request" element="bp:FlightSearchRequest"/>
  </wsdl:message>
  
  <wsdl:message name="FlightSearchResponseMessage">
    <wsdl:documentation>
      FlightSearchResponseMessage is the response to the flight search request. It returns flight number, flight date, flight time and price
    </wsdl:documentation>
    <wsdl:part name="response" element="bp:FlightSearchResponse"/>
  </wsdl:message>

  <wsdl:message name="FlightBookRequestMessage">
    <wsdl:documentation>
      FlightBookRequestMessage is the request to book a specific flight and takes the input flight number, flight date, flight time,source airport and destination airport
    </wsdl:documentation>
    <wsdl:part name="request" element="bp:FlightBookRequest"/>
  </wsdl:message>
  
  <wsdl:message name="FlightBookResponseMessage">
    <wsdl:documentation>
      FlightBookResponseMessage is the response to book a specific flight. It returns flight status and booking confirmation number.
    </wsdl:documentation>
    <wsdl:part name="response" element="bp:FlightBookResponse"/>
  </wsdl:message>
  
  <wsdl:message name="FailureMessage">
    <wsdl:documentation>
      FailureMessage is the error message generated by the service when the service encounters problems.
    </wsdl:documentation>
    <wsdl:part name="response" element="f:Failure"/>
  </wsdl:message>


<wsdl:portType name="FlightPortType">
   <wsdl:documentation> Flight PortType defines an interface for users to search and book flights </wsdl:documentation>

    <wsdl:operation name="FlightSearch">
      <wsdl:documentation>
        FlightSearch is the operation to search for flights
      </wsdl:documentation>
      <wsdl:input message="tns:FlightSearchRequestMessage">
      <wsdl:documentation>  Request message contains... </wsdl:documentation>
      </wsdl:input>
      <wsdl:output message="tns:FlightSearchResponseMessage">
      <wsdl:documentation> ResponseMessage is the returned message containing...  </wsdl:documentation>
       </wsdl:output>
      <wsdl:fault name="SearchFault" message="tns:FailureMessage">
      <wsdl:documentation> Error message </wsdl:documentation>
       </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="FlightBook">
      <wsdl:documentation>
        FlightBook is the operation to book specific flights
      </wsdl:documentation>
      <wsdl:input message="tns:FlightBookRequestMessage">
      <wsdl:documentation>  Request message contains... </wsdl:documentation>
      </wsdl:input>
      <wsdl:output message="tns:FlightBookResponseMessage">
      <wsdl:documentation> ResponseMessage is the returned message containing...  </wsdl:documentation>
       </wsdl:output>
      <wsdl:fault name="BookingFault" message="tns:FailureMessage">
      <wsdl:documentation> Error message </wsdl:documentation>
       </wsdl:fault>
    </wsdl:operation>



</wsdl:portType>

 <wsdl:binding name="FlightBinding" type="tns:FlightPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 
    <wsdl:operation name="FlightSearch">
      <soap:operation style="document" soapAction="http://www.phkairways.com/xsd/services/Airlines/2.2/FlightSearch"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
 </wsdl:binding>

    <wsdl:operation name="FlightBook">
      <soap:operation style="document" soapAction="http://www.phkairways.com/xsd/services/Airlines/2.2/FlightBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
 </wsdl:binding>

 <wsdl:service name="FlightService">
    <wsdl:port name="FlightPort" binding="tns:FlightBinding">
      <soap:address location="/airline-2.2/FlightService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
<!-- End of the WSDL definition -->

